body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


/* header */
header {
    padding-top: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /*
    border: black solid 2px;
    */
}

header > div > ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0.7em;

    /*
    border: blue solid 2px;
    padding: 2em;
    */
}

header a {
    text-decoration: none;
    color: #222;
    padding: 0.5em;
    font-size: 20px;

    /*
    align-self:auto;
    padding: 2.5em;
    border: green solid 2px;
    */
}

header a:hover {
    text-decoration: underline;
}



/* main section */
section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
    /* reserved */
    margin-top: 0;
    height: auto;
    padding: 165px 0 140px 0;
    /*border: black solid 2px;*/
}

section > div {
    text-align: center;

    /*
    border: green solid 2px;
    width: 600px;
    height: 100px;
    */
}

section > div:nth-child(2) {
    padding-top: 30px;
}

#searchBarShape {
    border: 1px solid #dfe1e5;
    width: 582px;
    height: 44px;
    border-radius: 24px;
    background-color: #fff;   
}

#searchBarShape:focus {
    outline: #fff;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    padding-left: 20px;
    font-size: 15px;
}

#searchAndLuckyButton {
    padding-top: 20px;
}

#searchButtonStyle > button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    height: 36px;
    padding: 0 16px;
    margin: 11px 4px;
    font-size: 14px;
    color: #3c4043;
    font-family: Arial, Helvetica, sans-serif;
}

#searchButtonStyle > button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

#languageOffered {
    font-size: small;
}

#languageOffered a {
    text-decoration: none;
    color: #1a0dab;
}

#languageOffered a:hover {
    text-decoration: underline;
}


/* footer */

footer {
    display: flex;
    flex-flow: column wrap;
    padding: 15px 30px 15px 30px;
    background-color: #f2f2f2;
    color: #70757a;

    position: fixed;
    width: 99%;
    bottom: 0;
    right: 0;
    left: 0;
    /*border: #000 solid 2px;*/
}

/*
footer > div {
    border: green solid 2px;
}
*/

#footerBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-top: #dadce0 solid 1px;
}

/*
#footerBar > div {
    border: red solid 2px;
}
*/

#footerBar ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding-left: 0;
}

#footerBar a {
    text-decoration: none;
    padding: 1.0em;
    color: #70757a;
    padding-left: 0;
}

#footerBar a:hover {
    text-decoration: underline;
}









/* combinator usages

header > div:nth-child(2) > ul > li:nth-child(3){
    list-style: circle;
}

header > div:nth-child(2) {
    border: green solid 10px;
}
*/


/* one possiable solution for profile images adjustment.

#navcontainer a img {
	vertical-align: middle;
}

*/